<div id="hero">
  <div class="heading">
    <span>All Schools</span>
  </div>
  <div class="search-area">
    <div class="search">
      <i class="fa-solid fa-magnifying-glass"></i>
      <input type="text" class="input" />
    </div>
  </div>
  <div class="overlay"></div>
</div>
