<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/main.css">
    <title>Home</title>
</head>
<body>
   
    <section id="bg-section">
        <nav class="home-nav">
            <div class="container">
                <div class="logo">
                   RateMy<span class="highlighter">School</span>
                </div>
                <div class="group">
                    <a href="/schools">Schools</a>
                    <a href="">Login</a>
                    <a href="">Register</a>
                    
                 </div>
            </div>
        </nav>
        <div class="bg-section-info">
            <div class="container">
                <div class="title">RateMy<span class="highlighter">School</span></div>
                <div class="info">Welcome to RateMySchool ! Endeavor to explore a variety of School listings.</div>
                <a href="/schools" class="btn">
                    View Schools
                </a>
            </div>
        </div>

        <video  class="videobg" autoplay muted loop>
            <source src="video/university-vid.mp4" type="video/mp4">
        </video>

        <div class="overlay-filter"></div>

    </section>

    
</body>
</html>