<% layout('layouts/boilerplate') -%> 

    <form action="/schools" method="POST">
        <div>
            <label for="title">Title</label>
            <input type="text" id="title" name="title">
        </div>
        <div>
            <label for="location">Location</label>
            <input type="text" id="location" name="location">
        </div>
        <button>Add School</button>
    </form>
    <a href="/schools">All Schools</a>
    
