<% layout('layouts/boilerplate') %> <%-include('../partials/flash')%>
<h1>Login</h1>
<form action="/login" method="POST" class="needs-validation" novalidate>
  <div class="">
    <label class="" for="username">Username</label>
    <input class="" type="text" id="username" name="username" required />
  </div>
  <div class="">
    <label class="" for="password">Password</label>
    <input class="" type="password" id="password" name="password" required />
  </div>
  <button class="">Login</button>
</form>
